:root {
    --cor-fundo-sidebar: #121212;
    --cor-fundo-destaque: rgb(77, 77, 77);
    --cor-fundo-destaque-butao: white;

    --cor-texto-destaque: #b3b3b3;

    --font-family: "DM sans", sans-serif;
}

body {
    background-color: #000 ;
    color: white;
}

.sidebar {
    position: fixed; /*posiciona em um lugar fixo*/
    top: 0;          /*sem no topo da pagina*/
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__navegation {
    background-color:var(--cor-fundo-sidebar);
    border-radius: 8px;
    padding: 16px 0px 0px 16px;
}

.sidebar__navegation .logo {
    background-color: var(--cor-fundo-sidebar);
    display: flex;
    border-radius: 8px;
    padding: 16px 0px 0px 16px;
}

.sidebar__navegation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0px 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0px;
}

.sidebar nav ul a {
    color: var(--cor-texto-destaque);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: var(--font-family);
}

.library {
    background-color: var(--cor-fundo-sidebar);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 0px;
    color: var(--cor-texto-destaque);
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;


}

.library .library__content {
    display: flex;
    justify-content: space-between;
}

.library__content .library__button {
    display: flex;
    margin-right: 10px;
    color: var(--cor-texto-destaque);
    background-color: transparent;
    border: 8px;
    font-size: 14px;
    font-weight: 700;
    font-family: var(--font-family);
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}

.library .library__button .fa {
    font-size: 20px;
    font-weight: 300;
    color: var(--cor-texto-destaque);
    margin-right: 10px;
    padding-right: 8px;
}

.library .library__content .fa-plus {
    margin: 24px 10px;
}

